.tooltip{
    font-size: 1.4vw;
    color: #4a2d92;
    cursor: pointer;
}

.tooltip-box{
    display: block;
    background: #ffffff;
    line-height: 1.6;
    border: 1px solid #66ccff;
    color: #333;
    padding: 10px;
    font-size: 14px;
    text-align: justify;
    border-radius: 5px;
    overflow: auto;
    z-index: 99;
}